body {
  background-color: #050d1a;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  color: rgb(14, 12, 12);
  font-weight: 600;
}

h4 {
  color: #454b49;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 2;
  text-transform: uppercase;
}

h5 {
  color: #626262;
  font-size: 14px;
  font-weight: 500;
}

a {
  letter-spacing: 2px;
  text-decoration: none;
}

ul {
  letter-spacing: 1px;
}

li {
  color: #626262;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: capitalize;
}

p {
  color: rgb(15, 13, 13);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 2;
  margin-bottom: 20px;
}

span {
  letter-spacing: 1px;
}

.img-fluid {
  max-width: 60%;
  margin-bottom: 30px;
}

.fa {
  font-size: 23px;
  margin-top: 1px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  border: #54d7bb solid 2px;
  background: #050d1a;
  bottom: 15px;
  border-radius: 2px;
  color: #54d7bb;
  display: none;
  font-size: 16px;
  line-height: 1;
  padding: 7px 12px 13px 12px;
  right: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: #32947f9d;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  border: none;
  background: #32947f9d;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #050d1a;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 70px;
  z-index: 3;
  transition: all 0.5s ease;
}

.scroll-header {
  background: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#name {
  width: 100%;
  height: calc(100vh - 40px);
  margin-top: 40px;
  position: relative;
}

@media (min-width: 1025px) {
  #name {
    background-attachment: fixed;
  }
}

#name .name-container {
  position: absolute;
  bottom: 0;
  top: 15;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#name h1 {
  margin: 0px 0 15px 0;
  font-size: 6rem;
  font-weight: 700;
  line-height: 56px;
  font-family: "Philosopher", sans-serif;
  color: #54d7bb;
}

@media (max-width: 768px) {
  #name h1 {
    font-size: 28px;
    line-height: 36px;
  }
}
#name h2 {
  color: #838d8a;
  margin-bottom: 30px;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#name h5 {
  color: #838d8a;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

@media (max-width: 1000px) {
  #name h1 {
    font-size: 50px;
    line-height: 24px;
    margin-bottom: 25px;
  }
}

@media (max-width: 490px) {
  #name h1 {
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  #name h2 {
    font-size: 18px;
    line-height: 24px;
    /* margin-bottom: 10px; */
  }
}

#name .info {
  color: #222;
}

#name .info i {
  font-size: 32px;
  color: #71c55d;
  float: left;
}

#name .info p {
  padding: 0 0 4px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}

#name .info .email p {
  padding-top: 5px;
}

#name .info .phone p {
  padding-top: 5px;
}

#name .social-links {
  padding: 20px 0;
}

#name .social-links a {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-block;
  color: #838d8a;
  font-size: 18px;
  line-height: 1;
  padding: 5px 0 6px 1px;
  text-align: center;
  transition: 0.3s;
}

#name .social-links a:hover {
  color: #54d7bb;
}

#name .btn-get-started {
  align-self: center;
  display: inline-block;
  background: #050d1a;
  border: 2px solid #32947f9d;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 7px 15px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 8rem;
  border: 2px solid #32947f9d;
  background: #050d1a;
  color: white;
  text-decoration: none;
}

#name .btn-get-started:hover {
  background: #32947f9d;
  border: 2px solid #050d1a;
  color: #fff;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  padding-right: 25px;
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}
.nav-menu .resume {
  padding: 0 10px;
  border-radius: 20px;
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  padding-right: 30px;
  margin: 11px 0 0 0;
}

@media (max-width: 1000px) {
  #nav-menu-container {
    display: none;
  }
}
/* Nav Meu Styling */
.nav-menu a {
  padding: 15px 8px;
  display: inline-block;
  color: #838d8a;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0;
  text-decoration: none;
  transition: 0.3s;
}

.nav-menu li:hover > a {
  color: white;
}
.nav-menu > .menu-active > a {
  color: #54d7bb;
}
.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  display: block;
  font-size: 14px;
  transition: 0.3s;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #71c55d;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 15px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #54d7bb;
  font-size: 24px;
}

@media (max-width: 1000px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-left: 10px;
  padding-top: 25px;
  bottom: 0;
  z-index: 998;
  background: #050d1a;
  border-right: #54d7bb solid 1px;
  /* background: rgba(52, 59, 64, 0.9); */
  left: -260px;
  width: 150px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  padding-bottom: 15px;
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 3rem;
  overflow: hidden;
  padding: 6px 22px 6px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  letter-spacing: 0;
}

#mobile-nav ul li a:hover {
  color: #54d7bb;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #71c55d;
}

#mobile-nav ul .menu-item-active {
  color: #71c55d;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.padd-section {
  padding-bottom: 80px;
  padding-top: 80px;
}

@media (max-width: 992px) {
  .padd-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-title {
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 40px;
  }
}

.section-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-title .separator {
  margin: 0;
}

.separator {
  color: #626262;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}

/* About Us Section
--------------------------------*/

#about-us img {
  display: block;
  margin: auto;
  max-width: 70%;
  padding-top: 50px;
}
#about-us p {
  color: rgba(255, 255, 255, 0.61);
}
#about-us .about-content {
  padding-top: 20px;
}

#about-us .about-content h2 {
  border-bottom: 1px solid #838d8a;
  color: #838d8a;
  font-family: "roboto";
  font-size: 39px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#about-us .about-content span {
  color: #54d7bb;
  font-weight: 600;
}

#about-us .about-content ul li {
  line-height: 36px;
}

#about-us .about-content ul li .fa {
  padding-right: 20px;
}

#about-us .info {
  display: flex;
  align-content: flex-start;
}
#about-us .info div {
  padding-right: 20px;
}
#about-us .email i {
  color: #54d7bb;
  font-size: 40px;
}
#about-us .info a {
  font-size: 23px;
}

/* skills Section
--------------------------------*/

#skills .section-title h2 {
  border-bottom: #838d8a solid 2px;
  color: #838d8a;
  font-family: "roboto";
  font-size: 3rem;
  font-weight: 350;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#skills .section-title span {
  color: #54d7bb;
  font-size: 3rem;
  font-weight: 600;
}

#skills {
  background: #050d1a;
  display: inline-block;
  height: 100%;
  width: 100%;
}

#skills .skills-block {
  background: #454b49 none repeat scroll 0 0;
  border-radius: 25px;
  box-shadow: 2px 2px 3px #54d7bb;
  padding: 30px 40px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
}

#skills .skills-block:hover {
  background-color: #050d1a;
  border: none;
  transition: all 0.2s ease-in-out 0s;
}

#skills .skills-block h4 {
  margin-bottom: 20px;
  font-size: 17px;
}

/* Project Section
--------------------------------*/
#project {
  border-bottom: #838d8a solid;
  height: 1000px;
}
#project h2 {
  padding-bottom: 5px;
  border-bottom: #838d8a solid 2px;
  color: #838d8a;
  font-size: 60px;
  font-weight: 300;
}

#project h2 span {
  color: #54d7bb;
}

#project .project-block {
  position: relative;
  background-color: #838d8a;
  border: solid #222 2px;
  background-size: cover;
  border-radius: 10px;
  height: 340px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 99;
}

#project .project-block:hover {
  border: none;
  box-shadow: 0 6px 8px #54d7bb;
  background-image: none;
}

@media (max-width: 991px) {
  #project .project-block {
    margin-bottom: 40px;
  }
}
#project .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#project .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#project .project-content {
  height: 120px;
}
#project .project-block .project-content {
  background: #050d1a none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  bottom: -147px;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
}

#project .project-content h6 {
  color: #54d7bb;
  font-size: 20px;
  font-weight: 700;
}

#project .project-block .project-content ul {
  display: block;
  width: 100%;
}

#project .project-block .project-content ul li {
  padding: 0 7px;
  display: inline-block;
}

#project .project-block .project-content ul li a {
  color: #626262;
}

#project .project-block .project-content ul li a .fa {
  font-size: 30px;
  float: left;
  margin-top: 20px;
  padding: 5px 10px 0 10px;
  transition: 0.3s;
}

#project .project-block .project-content ul li a .fa:hover {
  color: #54d7bb;
}

#project .project-block .project-content ul > span {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#project .project-block:hover .project-content {
  bottom: 0px;
  transition: all 0.3s ease-in-out 0s;
}
